body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:877px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:801px;
}
#u28 {
  position:absolute;
  left:403px;
  top:0px;
  width:474px;
  height:801px;
}
#u29 {
  position:absolute;
  left:2px;
  top:392px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:57px;
}
#u30 {
  position:absolute;
  left:490px;
  top:650px;
  width:310px;
  height:57px;
}
#u31 {
  position:absolute;
  left:2px;
  top:20px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
