body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:873px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73 {
  position:absolute;
  left:455px;
  top:70px;
  visibility:hidden;
}
#u73_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u73_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:560px;
}
#u75 {
  position:absolute;
  left:2px;
  top:272px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u76 {
  position:absolute;
  left:60px;
  top:198px;
  width:250px;
  height:70px;
  font-size:20px;
  text-align:center;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:72px;
}
#u78 {
  position:absolute;
  left:80px;
  top:278px;
  width:80px;
  height:72px;
}
#u79 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:72px;
}
#u80 {
  position:absolute;
  left:220px;
  top:278px;
  width:80px;
  height:72px;
}
#u81 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:801px;
}
#u82 {
  position:absolute;
  left:400px;
  top:0px;
  width:473px;
  height:801px;
}
#u83 {
  position:absolute;
  left:2px;
  top:392px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:86px;
}
#u84 {
  position:absolute;
  left:471px;
  top:404px;
  width:332px;
  height:86px;
}
#u85 {
  position:absolute;
  left:2px;
  top:35px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:58px;
}
#u86 {
  position:absolute;
  left:455px;
  top:510px;
  width:364px;
  height:58px;
}
#u87 {
  position:absolute;
  left:2px;
  top:21px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:86px;
}
#u88 {
  position:absolute;
  left:471px;
  top:590px;
  width:332px;
  height:86px;
}
#u89 {
  position:absolute;
  left:2px;
  top:35px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:308px;
}
#u90 {
  position:absolute;
  left:398px;
  top:30px;
  width:474px;
  height:308px;
}
#u91 {
  position:absolute;
  left:2px;
  top:146px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
