body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:873px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:801px;
}
#u0 {
  position:absolute;
  left:400px;
  top:0px;
  width:473px;
  height:801px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:83px;
  top:300px;
  width:32px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4 {
  position:absolute;
  left:130px;
  top:320px;
  width:50px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Обычный', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#DA4B4B;
  text-align:center;
}
#u6 {
  position:absolute;
  left:563px;
  top:660px;
  width:154px;
  height:30px;
  font-family:'Century Gothic Обычный', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#DA4B4B;
  text-align:center;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
